/*.zip
/dist/
/index.html
/node_modules/
/package-lock.json
/template.html
/yarn.lock

npm-debug.log
.settings
.project
.idea
node_modules
*.swp
.tmp
Thumbs.db
!*.pot
index.html
liveblog-default-theme.zip
py-test/env
package-lock.json
yarn.lock
