/*.zip
/dist/
/index.html
/node_modules/
/package-lock.json
/template.html
/yarn.lock

npm-debug.log
.settings
.project
.idea
node_modules
*.swp
.tmp
Thumbs.db
!*.pot

# no dist in ZON repos
/*-theme.zip
/dist
