<div class="lb-item">
  <amp-carousel class="carousel1"
  layout="fixed-height"
  height="420"
  type="slides">
    {% for ref in item.groups[1].refs %}
      <div>
        <amp-img src="{{ ref.item.meta.media.renditions.viewImage.href }}"
        layout="responsive"
        width="{{ ref.item.meta.media.renditions.viewImage.width }}"
        height="{{ ref.item.meta.media.renditions.viewImage.height }}"
        on="tap:lb-lightbox"
        alt="">
        </amp-img>
        <figcaption>
            <span class="item--embed__description">{{ ref.item.meta.caption }}</span>
        {% if ref.item.meta.credit %}
            <span class="credit">Credit: {{ ref.item.meta.credit }} </span>
        {% endif %}
        </figcaption>
      </div>
    {% endfor %}
  </amp-carousel>
</div>
