.lb-wrapHtml {
	font-family: $font-tabletgothic;
	font-size: 1rem;
	line-height: $base-line-height;
	margin: 0 auto;
	max-width: em(1000px);

	* {
		box-sizing: border-box;
	}
}

.lb-wrapBody {
	margin: 0;
}

