/* Colors */

@white:        #fff;
@lightergrey:  #eeeef0;
@iron:         #dfdfe1;
@lightgrey:    #cccccf;
@midgrey:      #99999c;
@grey:         #69696c;
@darkgrey:     #44444c;
@dark:         #252525;
@black:        #000;

@red:          #b91109;
@green:        #48b958;
@lbgreen:      #1eb06c;
@washedgreen:  #81e496;
@trout:        #535560;
@yellow:       #ffe246;
@orange:       #e16752;
@logoblack:    #1d1d1b;

 /* Breakpoints */

@xlarge:       ~"screen and (min-width: 1025px)";
@large:        ~"screen and (max-width: 870px)";
@medium:       ~"screen and (max-width: 580px)";
@small:        ~"screen and (max-width: 450px)";

@phablet:   ~"screen and (min-width: 32.5em)";  // 520px
@tablet:    ~"screen and (min-width: 48em)";    // 768px
@desktop:   ~"screen and (min-width: 61.25em)"; // 980px

.font-smoothing() {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}
