.lb-responsive-video {
	position: relative;
	padding-bottom: 56.2%;
	height: 0;
	margin: 10px 0;
	overflow: hidden;
	iframe {
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	}
}

.lb_consent--placeholder {
    background-color: #fff;
    font-family: "TabletGothic","Helvetica Neue",Helvetica,Arial,FreeSans,sans-serif;
    font-size: smaller;
    padding: 1.5em;
}

.lb_consent--placeholder .lb-button {
	margin-bottom: 0;
}
